.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color:rgb(218, 218, 218);
}

.main{
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 100%;

}

.box_container{
    border-radius: 10px;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 45%;
    padding: 1.5vh;
    margin-top: 15%;
}

.box{
    background-color: #7b4695;
    border-radius: 10px;
    width: 96%;
    /* margin: 5% 2% 4%  ; */
}

.box_text{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5%;
    font-size: 1.5em;
    color: white;
    padding: 1%;
}

.box_paragraph{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 2%;
    margin-left: 5%;
    font-size: 1em;
    color: white;
    padding: 1%;
}
.aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 45%;
}

.ursinho{
    width: 80%;
    background-color: #7b4695;
    border-radius: 10px;
}


/* Responsividade */

@media (max-width: 768px){
    .container{
        height: 100vh;
    }

    .main{
        flex-direction: column;
        height: 100%;
    }

    .box_container{
        width: 100%;
        margin-top: 0;
    }

    .box{
        height: 30%;
    }

    .aside{
        width: 100%;
    }

    .ursinho{
        width: 100%;
    }
}

@media (max-width: 425px){
    .box_text{
        font-size: 1.2em;
    }

    .box_paragraph{
        font-size: 0.8em;
    }
}


